*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: inherit;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-video{

    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

}

.content{
    text-align: center;
}

.content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;

}

.content h1:hover{
    --webkit-text-stroke: 2px white;
    color: transparent;

}
.content a:hover{
    color: black;
    background-color: white;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    padding: 14px;
    border-color: white;
    border-width: 2px;

}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }

}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }

}